<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636218329027-mjsk06a0pccea75pnr9u0f107fa3tbli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636218329027-mjsk06a0pccea75pnr9u0f107fa3tbli</string>
	<key>API_KEY</key>
	<string>AIzaSyBKmIlFSW_2iU0AOeoFP-qgi_XzWbp3obc</string>
	<key>GCM_SENDER_ID</key>
	<string>636218329027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myLife</string>
	<key>PROJECT_ID</key>
	<string>mylife-75e52</string>
	<key>STORAGE_BUCKET</key>
	<string>mylife-75e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636218329027:ios:1068f9bfe2a8adee5a1f76</string>
</dict>
</plist>